//default
$de : rgb(235, 235, 235);
body
  background : blue
  color : #333

div
  background:
            color : yellow

h1
  color : #333
@mixin radius($t:5px)
  border-radius : $t

.cup
  @include radius()
  background : $de
  padding : 10px
