//output:index.html
doctype
html
  head 
    link(rel="stylesheet", type="text/css", href="dist/css/maina.min.css")
  body
    .box-group
      .cup.box-5
        h1 Hello World!
      .cup-blue.box-3
        h1.blue Hello World!
      .cup-green.box-4
         h1.green Hello World!
         p.green Hello Guys Whats is Up
      .cup-red.box-3.shad
         h1.red Hello World!
         p.red Hello Guys Whats is Up
         button.bun.bun-green Download World by Now
         button.bun.bun-blue Download World by Now
         button.bun.bun-red Download World by Now
         button.bun.bun-orange.b Download World by Now
         button.bun.bun-yellow.b Download World by Now
         button.bun.bun-black Download World by Now
      form.luv-form
        input(placeholder="Hellow") 
        input(placeholder="Hellow") 
        button.bun.bun-green Login Now
