//output:index.html
doctype
html
  head 
    link(rel="stylesheet", type="text/css", href="css/luvint.min.css")
  body
    .cup
      h1 Hello World!
    .cup-blue
      h1 Hello World!
    .cup-green
       h1.green Hello World!
       p.blue Hello Guys Whats is Up
    
    
    
